pipeline/Full_load_all.json
{
	"name": "Full_load_all",
	"properties": {
		"activities": [
			{
				"name": "lookup_for_config_full_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from full_load\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "config_fullload",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lookup_for_config_full_load",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lookup_for_config_full_load').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 8,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "src_files",
									"type": "DatasetReference",
									"parameters": {
										"srccontainer": {
											"value": "@item().src_container\r\n",
											"type": "Expression"
										},
										"srcfolder": {
											"value": "@item().src_folder \r\n",
											"type": "Expression"
										},
										"srcfilename": {
											"value": "@item().src_filename \r\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "src_target",
									"type": "DatasetReference",
									"parameters": {
										"des_container": {
											"value": "@item().destination_container \r\n",
											"type": "Expression"
										},
										"des_folder": {
											"value": "@concat(item().destination_folder,'/', utcNow('yyyy-MM-dd'))",
											"type": "Expression"
										},
										"des_filename": {
											"value": "@item().destination_filename",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Logs_on",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_insertlogdetails]",
								"storedProcedureParameters": {
									"billing_Reference_activity_Type": {
										"value": {
											"value": "@activity('Copy data1').output.billingReference.activityType",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataFactory": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"destinationFile": {
										"value": {
											"value": "@item().destination_filename",
											"type": "Expression"
										},
										"type": "String"
									},
									"destinationFolder": {
										"value": {
											"value": "@item().destination_folder",
											"type": "Expression"
										},
										"type": "String"
									},
									"effective_Integration_Runtime": {
										"value": {
											"value": "@activity('Copy data1').output.effectiveIntegrationRuntime",
											"type": "Expression"
										},
										"type": "String"
									},
									"errors": {
										"value": {
											"value": "@activity('Copy data1').output.errors",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_sink_type": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].sink",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_source_type": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].source",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_status": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"rowsCopied": {
										"value": {
											"value": "@activity('Copy data1').output.filesRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"rowsRead": {
										"value": {
											"value": "@activity('Copy data1').output.filesWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"sourceFile": {
										"value": {
											"value": "@item().src_filename",
											"type": "Expression"
										},
										"type": "String"
									},
									"throughPut": {
										"value": {
											"value": "@activity('Copy data1').output.throughput",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"triggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"triggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"triggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"used_Data_Integration_Units": {
										"value": {
											"value": "@activity('Copy data1').output.usedDataIntegrationUnits",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "sqldatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Full_load_src_stg"
		},
		"annotations": []
	}
}