Projectolp/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "Projectolp"
		},
		"sqldatabase_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'sqldatabase'"
		},
		"storageaccount_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'storageaccount'"
		},
		"sqldatabase_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "olpproject.database.windows.net"
		},
		"sqldatabase_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "projectolp1"
		},
		"sqldatabase_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "King"
		},
		"storageaccount_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://projectolp.dfs.core.windows.net/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Full_load_all')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookup_for_config_full_load",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from full_load\n",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "config_fullload",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "lookup_for_config_full_load",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookup_for_config_full_load').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Full_load_src_stg"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/config_fullload')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/config_fullload')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sqldatabase",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "src_dataset"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "src_container",
						"type": "varchar"
					},
					{
						"name": "src_folder",
						"type": "varchar"
					},
					{
						"name": "src_filename",
						"type": "varchar"
					},
					{
						"name": "destination_container",
						"type": "varchar"
					},
					{
						"name": "destination_folder",
						"type": "varchar"
					},
					{
						"name": "destination_filename",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "full_load"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sqldatabase')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_files')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storageaccount",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"srccontainer": {
						"type": "string"
					},
					"srcfolder": {
						"type": "string"
					},
					"srcfilename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "src_dataset"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().srcfilename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().srcfolder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().srccontainer",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storageaccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/src_target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storageaccount",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"des_container": {
						"type": "string"
					},
					"des_folder": {
						"type": "string"
					},
					"des_filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Target_ds"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().des_filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().des_folder",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().des_container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storageaccount')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqldatabase')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('sqldatabase_properties_typeProperties_server')]",
					"database": "[parameters('sqldatabase_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('sqldatabase_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('sqldatabase_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/storageaccount')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('storageaccount_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('storageaccount_accountKey')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}